/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*COLORS*/

:root {
    --alpha: #f0f2f5;
    --beta: black;
    --charlie: #fff;
    --delta: #F5EFE8;
    --echo: #968759;
    --fox: #019963;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--alpha);
    color: var(--beta);
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--charlie);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
    height: 100vh;
    width: 100%;
    background-color: var(--alpha);
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.logo-container img {
    height: 100vh;
    width: 100%;
    object-fit: contain; 
}

.profile {
    text-align: center;
    margin-bottom: 2rem;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}


.nav-menu {
    margin-bottom: 2rem;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu li {
    margin-bottom: 1rem;
}

.nav-menu a {
    color: var(--beta);
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    padding: 5px;
    border-radius: 10px; 
    border: 1px solid var(--charlie);
}

.nav-menu a:hover {
    background-color: var(--delta);
    border: 1px solid var(--delta);
}


.nav-menu span {
    margin-right: 0.5rem;
}

.main-content {
    width: 100%;
    flex-grow: 1;
    padding: 2rem;
}


.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.top-nav h1 {
    font-size: 2rem;
    font-weight: 600;
}

.search-bar {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.search-bar input {
    background-color: var(--delta);
    padding: 0.5rem 1rem;
    border: 1px solid var(--echo);
    border-radius: 20px;
    font-size: 1rem;
    width: 250px;
}

.search-bar li {
    font-size: .6rem;
}

.drama-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
}

.drama-section h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--fox);
}

.drama-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.card-row {
    display: flex;
    gap: 1.5rem; 
}

.card {
    cursor: pointer;
    flex: 1;
    background-color: var(--charlie);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 200px; 
    max-height: 300px; 
    margin-bottom: 1rem;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.card-info {
    height: 25%;
    padding: 0.5rem;
    background-color: var(--charlie);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

.card-info-top {
    margin-bottom: 0.25rem;
}

.card-info-top h3 {
    font-size: 0.8rem;
    margin: 0;
}

.card-info-bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.card-info-bottom p {
    font-size: 0.65rem;
    color: #777;
    margin: 0;
}

.card-button, .card-button-two {
    font-size: .75rem;
    text-decoration: none;
    background-color: var(--fox);
    color: var(--charlie);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-button:hover {
    color: var(--beta);
    background-color: var(--alpha);
}

.card-button-two:hover {
    color: var(--beta);
    background-color: var(--alpha);
}

.drama-cards-results-section {
    display: none; 
}

.drama-cards-results {
    display: flex; 
}

.drama-cards-results-section.hidden .search-results-heading {
    display: none;
}

.details-container {
    text-align: justify;
    margin: 1rem;
}

.actor-list {
    background-color: var(--charlie);
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: .5rem;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.actor-card {
    margin-top: .5rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.actor-card img:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.actor-card img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 225px;
    object-fit: cover;
    border-radius: 10px;
}

.actor-card p {
    margin-top: 5px;
    font-weight: bold;
}

.show-title {
    margin: .5rem;
    background-color: var(--charlie);
    border-radius: 5px;
    text-align: center;
    font-size: 3rem;
    color: var(--fox);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-button {
    text-decoration: none;
    background-color: var(--fox);
    color: var(--charlie);
    border: none;
    margin: .5rem;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.back-button:hover {
    color: var(--beta);
    background-color: var(--charlie);
}

.main-content {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.main-content.fade-in {
    opacity: 1;
}

.watchlist-header h1 {
    margin: .5rem;
    background-color: var(--charlie);
    border-radius: 5px;
    text-align: center;
    font-size: 3rem;
    color: var(--fox);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.attribution {
    background-color: var(--delta);
    padding: 20px;
    margin-top: auto; 
    padding-top: 1rem; 
    text-align: center; 
}

.attribution p {
    font-size: .55rem;
    color: var(--echo);
    margin: 0.5rem 0;
}

.attribution img {
    max-width: 200px; 
}

.grid-watchlist-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}
