/* FOR MOBILE PHONES */

@media (min-width: 481px) and (max-width: 768px) {
    .sidebar-mobile.open {
        display: block;
    }

    .sidebar-mobile {
        display: flex;
        flex-direction: row;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100%;
        z-index: 999;
        background: #fff;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    .sidebar-mobile img {
        height: 60%;
        width: 60%;
        margin-top: 2rem;
    }
    .nav-menu-mobile {
        display: flex;
        flex-direction: row;
    }

    .nav-menu-mobile {
        padding: 1rem;
        margin-bottom: 3rem;
    }
    
    .nav-menu-mobile ul {
        list-style: none;
    }
    
    .nav-menu-mobile li {
        margin-bottom: 1rem;
    }
    
    .mobile-menu {
        flex: 1;
        margin-top: 5rem;
    }
    
    .nav-menu-mobile a {
        color: var(--beta);
        text-decoration: none;
        font-size: .75rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: color 0.3s;
        padding: 5px;
        border-radius: 10px; 
        color: var(--beta);
    }

    .instructions-container-mobile {
        flex: 1;
        height: 40%;
        width: 40%;
        background-color: var(--delta);
        padding: 20px;
        padding-top: 1rem; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .instructions-container-mobile h3 {
        font-size: .75rem;
        color: var(--fox);
        margin-bottom: 1rem;
        text-align: center;
    }

    .instructions-mobile {
        color: var(--beta);
        font-size: .5rem;  
    }

    .sidebar-mobile.open {
        transform: translateX(0);
    }

    .sidebar {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .sidebar-mobile {
        width: 100%;
        height: 100%;
    }

    .banner-container {
        width: 100%;
        height: 20%;
        margin-bottom: .2rem;
        padding: 0;
    }

    .banner-content {
        width: 100%;
        height: 100%;
    }

    .banner-info {
        position: absolute;
        bottom: 20px;
    }

    .banner-info h2 {
        font-size: 1.6rem;
    }
    
    .banner-info p {
        font-size: .8rem;
        margin: 5px 0;
    }

    .card {
        max-width: 33.33rem;
        max-width: 70rem;
    }

    .card img{
        max-width: 33.33rem;
        max-width: 100%;
    }

    .card-info-top h3 {
        font-size: 0.4rem;
    }    

    .card-info-bottom p {
        font-size: .3rem;
    }

    .card-button, .card-button-two {
        font-size: .3rem;
    }
    
    .kdrama-cards-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }
    .actor-list{
        height: 13rem;
    }

    .actor-card {
        width: 4rem;
        height: 8.5rem;
    }

    .actor-card img {
        width: 4rem;
        height: 8.5rem;
    }

    .actor-card p {
        font-size: .4rem;
    }
}

  /* FOR MOBILE (LANDSCAPE) AND TABLETS (PORTRAIT) */
  
@media (min-width: 768px) and (max-width: 1024px) {
    
    .banner-container {
        width: 100%;
        height: 25%;
        margin-bottom: .2rem;
        padding: 0;
    }

    .banner-content {
        width: 100%;
        height: 100%;
    }

    .banner-info {
        position: absolute;
        bottom: 40px;
    }

    .banner-info h2 {
        font-size: 1.6rem;
    }
    
    .banner-info p {
        font-size: .8rem;
        margin: 5px 0;
    }

    .card-info-top h3 {
        font-size: 0.6rem;
    }    

    .card-info-bottom p {
        font-size: .4rem;
    }

    .card-button, .card-button-two {
        font-size: .4rem;
    }

    .actor-list{
        height: 13rem;
    }

    .actor-card {
        width: 6.25rem;
        height: 8.5rem;
    }

    .actor-card img {
        width: 6.25rem;
        height: 8.5rem;
    }

    .actor-card p {
        font-size: .65rem;
    }
  }
  
  /* FOR TABLETS (LANDSCAPE) AND SMALL PC */
  
  @media (min-width: 1024px) and (max-width: 1280px) {
    
    .banner-container {
        margin-bottom: 2rem;
    }

    .banner-info {
        position: absolute;
        bottom: 40px;
        left: 40px;
    }
    
    .banner-info h2 {
        font-size: 2.5rem;
    }
    
    .banner-info p {
        font-size: 1.25rem;
        margin: 5px 0;
    }

    .card-info-top h3 {
        font-size: 0.75rem;
    }    

    .card-info-bottom p {
        font-size: .65rem;
    }

    .card-button, .card-button-two {
        font-size: .65rem;
    }
  }
  
  
  @media (min-width: 1280px) and (max-width: 1440px) {
    
    .banner-info {
        position: absolute;
        bottom: 120px;
    }

    .banner-info h2 {
        font-size: 3rem;
    }
    
    .banner-info p {
        font-size: 1.5rem;
        margin: 5px 0;
    }

    .card-info-top h3 {
        font-size: 0.85rem;
    }    

    .card-info-bottom p {
        font-size: .7rem;
    }

    .card-button, .card-button-two {
        font-size: .7rem;
    }
  }

  @media (min-width: 1440px) and (max-width: 1650px) {
    
    .banner-info {
        position: absolute;
        bottom: 120px;
    }

    .banner-info h2 {
        font-size: 3rem;
    }
    
    .banner-info p {
        font-size: 1.5rem;
        margin: 5px 0;
    }

    .card {
        max-width: 33.33rem;
        max-width: 70rem;
    }

    .card img{
        max-width: 33.33rem;
        max-width: 100%;
    }

    .card-info-top h3 {
        font-size: 0.85rem;
    }    

    .card-info-bottom p {
        font-size: .7rem;
    }

    .card-button, .card-button-two {
        font-size: .7rem;
    }
  }
 